extends base

block content
	div.row
		div.span12.ad-container(style="margin-bottom:10px")
			script(type="text/javascript") google_ad_client="ca-pub-5045023404782237";google_ad_slot="2885287145";google_ad_width=728;google_ad_height=90;
			script(type="text/javascript", src="https://pagead2.googlesyndication.com/pagead/show_ads.js")
	div.row
		div.post-container.span12
			if user_is_banned
				div.alert.alert-error You have been banned. The reason listed is:
					div.ban-reason= user_ban_reason
					|While banned you may view posts, but not post. You may not appeal bans.
			else
				form.post-form.form-horizontal(method="POST", action=upload_url, enctype="multipart/form-data")
					a#reply(name="reply")
					input(type="hidden", name="MAX_FILE_SIZE", value=max_file_size)
					each error in post_errors
						div.alert.alert-error= error
					fieldset
						legend Reply to thread
						div.control-group
							label.control-label(for="poster-name") Name
							div.controls
								if user
									input.input-xlarge.disabled#poster-name(type="text", name="poster-name", disabled, value=user.nickname())
									label.checkbox Post as Anonymous
										input(type="checkbox", name="post-as-anonymous")
									if user_is_admin
										label.checkbox Post as admin
											input(type="checkbox", name="post-as-admin", checked)
								else
									input.input-xlarge#poster-name(type="text", name="poster-name")
								p.help-block The name to show on the post. It can include tripcodes (not currently implemented). If left blank, it will be Anonymous. Secure tripcodes will not work. Instead, you may use the login button in the upper-right.
						div.control-group
							label.control-label(for="poster-email") E-mail
							div.controls
								if user
									input.input-xlarge.disabled#poster-name(type="text", name="poster-email", disabled, value=user.email())
									label.checkbox Include email
										input#dont-post-email(type="checkbox", name="post-include-email", checked)
								else
									input.input-xlarge#poster-email(type="text", name="poster-email")
								label.checkbox Don't bump
									input#dont-bump(type="checkbox", name="dont-bump")
						div.control-group
							label.control-label(for="post-subject") Subject
							div.controls
								input.input-xlarge#post-subject(type="text", name="post-subject")
						div.control-group
							label.control-label(for="post-comment") Comment
							div.controls
								textarea.input-xlarge#post-comment(name="post-comment", rows="3")= comment
						div.control-group
							label.control-label(for="post-image") Image
							div.controls
								input.input-file#post-image(type="file", name="post-image", accept="image/*")
								p.help-block Maximum file size is #{max_file_size_human}.
						div.control-group
							label.control-label(for="post-password") Password
							div.controls
								if user
									span.input-xlarge.uneditable-input Your post is associated with your account.
								else
									input.input-xlarge#post-password(type="password", name="post-password")
								p.help-block This password is used to allow you to delete your post and/or its image.
						div.form-actions
							if db_writes_enabled
								button.btn.btn-primary(type="submit") Post
							else
								button.btn.btn-primary(type="submit", disabled) Post
							|&nbsp;
							button.btn(type="reset") Cancel
	div.row
		div.span12.ad-container(style="margin-top:-10px;margin-bottom:10px")
			script(type="text/javascript") google_ad_client="ca-pub-5045023404782237";google_ad_slot="4134954748";google_ad_width=728;google_ad_height=90;
			script(type="text/javascript", src="https://pagead2.googlesyndication.com/pagead/show_ads.js")

	hr
	div.row
		a(id="#{main_post.key.id()}", name="#{main_post.key.id()}")
		div.span2
			a.thumbnail(href="/image/#{main_post.key.id()}")
				img(src="#{main_post.image_url}=s120", alt="Thread image", title="#{main_post.image_width}x#{main_post.image_height}")
		div.span9
			if main_post.subject
				span.post-subject= main_post.subject
			if main_post.capcode:
				span.user-info(data-capcode=main_post.capcode.lower())
					if main_post.email
						a(href="mailto:#{main_post.email}")
							span.username= main_post.username
					else
						span.username= main_post.username
					span.capcode= main_post.capcode
			else
				span.user-info
					if main_post.email
						a(href="mailto:#{main_post.email}")
							span.username= main_post.username
					else
						span.username= main_post.username
			span.posted= main_post.posted_string
			span.post-number= main_post.key.id()
			div.thread-toolbar.btn-toolbar
				div.btn-group
					a.reply-btn.btn.btn-mini(href="/post/#{main_post.key.id()}?comment=>>#{main_post.key.id()}#reply")
						i.icon-comment
						|&nbsp;Reply
					a.btn.btn-mini(href="/post/#{main_post.key.id()}##{main_post.key.id()}") Permalink
				if user_is_admin
					div.btn-group(id="admin-menu-#{main_post.key.id()}")
						a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown", href="#admin-menu-#{main_post.key.id()}")
							i.icon-user
							|&nbsp;Admin
							b.caret
						ul.dropdown-menu
							li
								a(href="/admin/post/#{main_post.key.id()}/delete")
									i.icon-trash
									|&nbsp;Delete
							li
								a(href="/admin/post/#{main_post.key.id()}/ban")
									i.icon-ban-circle
									|&nbsp;Ban
							li
								a(href="/admin/post/#{main_post.key.id()}/bandelete")
									i.icon-exclamation-sign
									|&nbsp;Ban &amp; delete
							li.divider
							li
								a IP address: #{main_post.ip_string}
			p.well!= main_post.comment

	each post in child_posts
		hr
		div.row.thread-reply
			a(id="#{post.key.id()}", name="#{post.key.id()}")
			if post.image_url
				div.span2
					a.thumbnail(href="/image/#{post.key.id()}")
						img(src="#{post.image_url}=s120", alt="Post image", title="#{post.image_width}x#{post.image_height}")
			div.span9
				if post.subject
					span.post-subject= main_post.subject
				if post.capcode:
					span.user-info(data-capcode=post.capcode.lower())
						if post.email
							a(href="mailto:#{post.email}")
								span.username= post.username
						else
							span.username= post.username
						span.capcode= post.capcode
				else
					span.user-info
						if post.email
							a(href="mailto:#{post.email}")
								span.username= post.username
						else
							span.username= post.username
				span.posted= post.posted_string
				span.post-number= post.key.id()
				div.thread-toolbar.btn-toolbar
					div.btn-group
						a.reply-btn.btn.btn-mini(href="/post/#{main_post.key.id()}?comment=>>#{post.key.id()}#reply")
							i.icon-comment
							|&nbsp;Reply
						a.btn.btn-mini(href="/post/#{main_post.key.id()}##{post.key.id()}") Permalink
					if user_is_admin
						div.btn-group(id="admin-menu-#{post.key.id()}")
							a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown", href="#admin-menu-#{post.key.id()}")
								i.icon-user
								|&nbsp;Admin
								b.caret
							ul.dropdown-menu
								li
									a(href="/admin/post/#{post.key.id()}/delete")
										i.icon-trash
										|&nbsp;Delete
								li
									a(href="/admin/post/#{post.key.id()}/ban")
										i.icon-ban-circle
										|&nbsp;Ban
								li
									a(href="/admin/post/#{post.key.id()}/bandelete")
										i.icon-exclamation-sign
										|&nbsp;Ban &amp; delete
								li.divider
								li
									a IP address: #{post.ip_string}
				if post.comment
					p.well!= post.comment